*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global.css or a module imported in NoteList */
.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  /* gutter size */
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* optional spacing between cards inside column */
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(72, 182, 255, 0.15) /* Light blue tint */
    rgba(72, 182, 255, 0.3) rgba(72, 182, 255, 0.45) rgba(72, 182, 255, 0.6); /* Strongest blue */
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
